@-webkit-keyframes pulse {
    0% {
        opacity: 1.0;
        -webkit-transform: scale(1.25);
    }

    45% {
        opacity: .20;
        -webkit-transform: scale(.80);
    }

    100% {
        opacity: 1.0;
        -webkit-transform: scale(1.25);
    }
}

#map_graphics_layer {
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    -webkit-animation-timing-function: ease-in-out;
}

/*.page-map, #mapcontent.ui-content {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
}*/
#map {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.page-map, #mapcontent.ui-content {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

#mapDetails {
    font-size: 12px;
    color: #024672;
}

#CurrentLayers {
    display: none;
}

#snippet {
    color: #004267;
    font-size: 16px;
    font-weight: 600;
}

.esriMobileNavigationBar {
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #45484d 0%,#000000 100%); /* W3C */
}

.esriPopupMobile .titlePane {
    background: rgba(69, 72, 77, 1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A4D6A',endColorstr='#639BBC');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A4D6A',\A       endColorstr='#639BBC')";
}

.esriPopupMobile .pointer.top {
    background: url(http://maps.indiana.edu/images/indianaMap/mobile/pointertop.png);
}

.esriPopupMobile .pointer.bottom {
    background: url(http://maps.indiana.edu/images/indianaMap/mobile/pointerbottom.png);
}

.customIcons .ui-btn .ui-btn-inner {
    padding-top: 40px!important;
}

.customIcons .ui-btn .ui-icon {
    width: 32px!important;
    height: 32px!important;
    margin-left: -15px!important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -webkit-border-radius: none!important;
    border-radius: none!important;
}

/*
      #info .ui-icon {
        background:url(http://maps.indiana.edu/images/indianaMap/mobile/info.png) 50% 50% no-repeat;
        background-size:32px 32px;
      }
      */

#geolocate .ui-icon {
    background: url('../img/geolocate.png') 50% 50% no-repeat;
    background-size: 32px 32px;
}

#layers .ui-icon {
    background: url('../img/legend.png') 50% 50% no-repeat;
    background-size: 32px 32px;
}

#legend .ui-icon {
    background: url('../img/mapDetails.png') 50% 50% no-repeat;
    background-size: 32px 32px;
}


#details .ui-icon {
    background: url('../img/BasemapLayer.png') 50% 50% no-repeat;
    background-size: 32px 32px;
}

#searchMap .ui-icon {
    background: url('../img/search.png') 50% 50% no-repeat;
    background-size: 32px 32px;
}

.esriMobilePopupInfoView {
    overflow: auto;
}

.map .logo-med {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 100px;
    height: 36px;
    z-index: 49;
    background-image: url('') no-repeat;
    cursor: pointer;
    _background-image: none;
}

.map .logo-sm {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 60px;
    height: 16px;
    z-index: 49;
    background-image: url('') no-repeat;
    cursor: pointer;
    _background-image: none;
}

.esriSimpleSlider div {
    height: 30px !important;
    width: 30px !important;
}
